@import 'utilities.css';

:root {
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #F2F2F2;
    --secondary: #070606;
    --primary_transparent: #3dcfd39e;
}

body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}

header {
    background-color: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
}

.container {
    max-width: 1152px;
    width: 80%;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a {
    color: var(--pure);
    text-decoration: none;
    margin-right: 1vw;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover {
    color: var(--primary);
}

header nav {
    padding: 2rem 0;
}

header nav .branding {
    margin-right: 4vw;
}


.hero .left img {
    width: 20vw;
}

.hero .right {
    color: var(--pure);
    margin-top: -2%;
    margin-bottom: 10%;
}

.hero .right h6 {
    color: var(--primary);
    font-size: 1.2vw;
    margin-bottom: .2vh;
}

.hero .right h1 {
    font-size: 5vw;
    font-weight: 100;
    line-height: 4.5rem;
    margin-bottom: 1.5vh;
}

.hero .right h1 span {
    color: var(--primary);
}

.hero .right p {
    line-height: 1.9rem;
    margin-bottom: 2vh;
}

section {
    padding-top: 5%;
    padding-bottom: 5%;
}

.about-me-img {
    height: 35vw;
}

section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span {
    color: var(--primary);
}

section.about h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

section.about p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
}

section.about .social {
    display: flex;
    margin-top: 4vh;
    justify-content: space-between;
}

section.about .social a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-heading {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading span {
    color: var(--primary);
}

section.skills {
    background: var(--light);
}

section.skills .card-wrapper {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 5rem;
}

section.skills .card-wrapper .card {
    background-color: var(--pure);
    padding: 8% 15%;
    padding-top: 19%;
    position: relative;
    text-align: center;
    transition: all .3s ease;
}

section.skills .card-wrapper .card img {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}

section.skills .card-wrapper .card h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.skills .card-wrapper .card p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6rem;
}

section.skills .card-wrapper .card:hover {
    background-color: var(--dark);
}

section.skills .card-wrapper .card:hover h2,
section.skills .card-wrapper .card:hover p {
    color: var(--pure);
}

section.present {
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 77% 80%, 0 100%);
    padding-bottom: 12%;
}

section.present h1 {
    font-size: 2rem;
    margin-bottom: 1%;
}

section.present p {
    margin-bottom: 1%;
    font-family: 'Lato', sans-serif;
    margin-bottom: 3%;
}

section.exprience h1 {
    font-size: 2rem;
    margin-bottom: 1%;
}

section.exprience p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 5%;
    line-height: 1.6rem;
    margin-bottom: 5%;
    color: var(--ternary);
}


section.exprience .slider {
    height: 320px;
    position: relative;
}

section.exprience .slide {
    height: 320px;
    width: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--light);
    border-radius: 5%;
    padding: 3% 3%;
    opacity: 0;
    left: calc(50% - 50px);
    position: absolute;
    transition: left 1s;
}

section.exprience .slide p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 5%;
    line-height: 1.6rem;
    margin-bottom: 5%;
    color: var(--ternary);
}

section.exprience .slide p span {
    color: var(--primary);
}

section.exprience .slide img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-top: 5%;
}

section.exprience .animate-right {
    animation: animateright 3s;
    transition: all 2s ease;
    display: block;
    opacity: 1;
    left: calc(50% - 125px);
}

@keyframes animateright {
    0% {
        right: -10%;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

section.project {
    background-color: var(--light);
}

section.project h1 {
    font-size: 2rem;
    margin-bottom: 1%;
}

section.project h1 span {
    color: var(--primary);
}

section.project p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 5%;
    line-height: 1.6rem;
    margin-bottom: 5%;
    color: var(--ternary);
}

section.project .card-wrapper {
    margin-top: 7%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
}

section.project .card-wrapper .card {
    position: relative;
    background-color: var(--pure);
    text-align: center;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.project .card-wrapper .card img {
    height: 100%;
    width: 100%;
}

section.project .card-wrapper .card .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--primary_transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    opacity: 0;
    transition: all .3s ease;
}

section.project .card-wrapper .card:hover .overlay {
    opacity: 1;
}

section.project .card-wrapper .card .overlay a {
    color: var(--secondary);
    text-decoration: none;
}